@font-face {
  font-family: "AnchoGX";
  src: url("/fonts/AnchoGX.woff2") format("woff2-variations");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Kyiv";
  src: url("/fonts/KyivVarGX.woff2") format("woff2-variations");
  /* font-weight: 0 1000; */
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: yellow;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.variable-font {
  --font-weight: 1;
  --font-midline: 0;
  --font-contrast: 250;
  font-family: "Kyiv";
  font-size: 3rem;
  line-height: 1.5;
  /* font-weight: 300; */
  /* font-variation-settings: "wght" 1, "CONT" 250, "MIDL" 0; */
  font-variation-settings: "wght" var(--font-weight),
    "CONT" var(--font-contrast), "MIDL" var(--font-midline);
  transition: font-size 500ms, font-variation-settings 500ms;
}

.variable-font:hover {
  font-size: 5rem;
  /* font-variation-settings: "wght" 1000, "CONT" 250, "MIDL" -1000; */
  --font-weight: 1000;
  --font-midline: -1000;
}

.open-sans-test {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
}
